body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: gainsboro;
}

ol, li {
    padding-left: 30px;
    font-size: 22px;
}

header {
    text-align: center;
    margin-bottom: 100px;
    font-size: 85px;
    font-weight: bolder;
}

main {
    justify-content: ;
}

nav > div {
    font-size: 40px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

/*.status {*/
    /*margin-bottom: 10px;*/
/*}*/

.square {
    background: white;
    border: 1px solid black;
    float: left;
    font-size: 120px;
    color: red;
    font-weight: bold;
    line-height: 135px;
    height: 135px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 135px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
